label{
    font-size: 20px;
}
.mini {
    width: 50px;
  }
.carousel{
    width: 75%;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(253, 24, 24);
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.carousel-indicators .active {
    opacity: 6;
}
.carousel-control-next, .carousel-control-prev{
    width: 8% !important;
}

.modal-body input{
    width: 150%;
}